
    .dot{
        width:6px; 
        height:6px;
        background-color: #dedede
    }
    .dot-circle{
        background-color: $main;
    }
    p{ font-size: 12px;
        font-family: $open-sans;
        color:$whiteColor;
        font-weight: 600;
    }

