@import './variables';

.navbar{
    background-color: $whiteColor;
    margin: 0 11px 136px 2.3px;
        .navbar-brand{  
                width: 30px;
                height: 30px;
                margin: 15px 11px 10px 2.3px;
                border: solid 4px $main;
            };
    .navbar-nav-scroll{
        .navbar-nav{
            .nav-item{
                margin: 6px 0px 0 10px;
                .nav-link{
                    font-family:$open-sans;
                    font-size: 14px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: #8c909d; 
                span{
                     color: $whiteColor;
                     width: 24px;
                    height: 24px;
                    padding: 3px 5px 4px;
                     background-color: #8c909d;
                };
            };
            .nav-link--color{
                color:$main;
                border-bottom: solid 2px $main;
                width:20px;
            };
            };
        };
    };

    .navbar-nav{
        
        .nav-item{
            margin: 10px 10px 0 10px;
            text-transform: uppercase;
            color:$main;
            font-family:$open-sans ;
            font-weight: 700;
        };
    };
};