

  .level-img{
    width:20px;
    height:20px;
  }
    .level-des{
      .level-name{
        font-size:14px;
        color:$bgColor;
       font-family:$open-sans;
      }
     .progress{
         width:140px;
         height:4px;
     }      
    }
